@keyframes RinkleEffect {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

.app-shell h1 {
	font-family: "Rubik", sans-serif;
}

body a {
	text-decoration: none;
}

.active {
	color: red;
	text-decoration: underline;
}